# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html

In [6]:
import pandas as pd 
df =  pd.read_csv("C://Users//amitn//Desktop//work//Machine Learning//csv//weather.csv")
df

,PDT,Max TemperatureF,Mean TemperatureF,Min TemperatureF,Max Dew PointF,MeanDew PointF,Min DewpointF,Max Humidity,Mean Humidity,Min Humidity,...,Mean VisibilityMiles,Min VisibilityMiles,Max Wind SpeedMPH,Mean Wind SpeedMPH,Max Gust SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees,ZIP
0,9/1/2015,75,67,58,58,56,54,84,67,49,...,10.0,6.0,22,9,26.0,0,2,NaN,245,94107
1,9/2/2015,73,68,62,59,56,54,78,68,57,...,10.0,10.0,23,12,26.0,0,5,NaN,249,94107
2,9/3/2015,70,65,60,57,54,50,84,69,53,...,10.0,10.0,18,12,25.0,0,2,NaN,250,94107
3,9/4/2015,72,64,55,52,50,48,77,61,44,...,10.0,7.0,20,10,24.0,0,2,NaN,233,94107
4,9/5/2015,79,65,51,53,48,44,89,60,30,...,10.0,10.0,21,7,24.0,0,2,NaN,289,94107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1825,8/27/2016,78,70,61,56,54,53,72,59,46,...,10.0,10.0,17,7,20.0,0,4,NaN,231,95113
1826,8/28/2016,79,70,60,56,55,54,84,65,45,...,10.0,10.0,17,7,21.0,0,4,NaN,307,95113
1827,8/29/2016,76,68,60,55,54,53,78,64,49,...,10.0,8.0,21,10,26.0,0,6,NaN,319,95113
1828,8/30/2016,81,70,59,56,54,52,78,60,42,...,10.0,10.0,18,6,23.0,0,2,NaN,315,95113
1829,8/31/2016,78,69,60,57,55,52,84,64,43,...,10.0,10.0,20,9,24.0,0,1,NaN,316,95113

In [8]:
df =  pd.read_csv("C://Users//amitn//Desktop//work//Machine Learning//csv//weather.csv" , header = None)
df

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,PDT,Max TemperatureF,Mean TemperatureF,Min TemperatureF,Max Dew PointF,MeanDew PointF,Min DewpointF,Max Humidity,Mean Humidity,Min Humidity,...,Mean VisibilityMiles,Min VisibilityMiles,Max Wind SpeedMPH,Mean Wind SpeedMPH,Max Gust SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees,ZIP
1,9/1/2015,75,67,58,58,56,54,84,67,49,...,10,6,22,9,26,0,2,NaN,245,94107
2,9/2/2015,73,68,62,59,56,54,78,68,57,...,10,10,23,12,26,0,5,NaN,249,94107
3,9/3/2015,70,65,60,57,54,50,84,69,53,...,10,10,18,12,25,0,2,NaN,250,94107
4,9/4/2015,72,64,55,52,50,48,77,61,44,...,10,7,20,10,24,0,2,NaN,233,94107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1826,8/27/2016,78,70,61,56,54,53,72,59,46,...,10,10,17,7,20,0,4,NaN,231,95113
1827,8/28/2016,79,70,60,56,55,54,84,65,45,...,10,10,17,7,21,0,4,NaN,307,95113
1828,8/29/2016,76,68,60,55,54,53,78,64,49,...,10,8,21,10,26,0,6,NaN,319,95113
1829,8/30/2016,81,70,59,56,54,52,78,60,42,...,10,10,18,6,23,0,2,NaN,315,95113
1830,8/31/2016,78,69,60,57,55,52,84,64,43,...,10,10,20,9,24,0,1,NaN,316,95113

In [32]:
df =  pd.read_csv("C://Users//amitn//Desktop//work//Machine Learning//csv//weather.csv" , header = None , skiprows=1)
df
#skiping header

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,9/1/2015,75,67,58,58,56,54,84,67,49,...,10.0,6.0,22,9,26.0,0,2,NaN,245,94107
1,9/2/2015,73,68,62,59,56,54,78,68,57,...,10.0,10.0,23,12,26.0,0,5,NaN,249,94107
2,9/3/2015,70,65,60,57,54,50,84,69,53,...,10.0,10.0,18,12,25.0,0,2,NaN,250,94107
3,9/4/2015,72,64,55,52,50,48,77,61,44,...,10.0,7.0,20,10,24.0,0,2,NaN,233,94107
4,9/5/2015,79,65,51,53,48,44,89,60,30,...,10.0,10.0,21,7,24.0,0,2,NaN,289,94107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1825,8/27/2016,78,70,61,56,54,53,72,59,46,...,10.0,10.0,17,7,20.0,0,4,NaN,231,95113
1826,8/28/2016,79,70,60,56,55,54,84,65,45,...,10.0,10.0,17,7,21.0,0,4,NaN,307,95113
1827,8/29/2016,76,68,60,55,54,53,78,64,49,...,10.0,8.0,21,10,26.0,0,6,NaN,319,95113
1828,8/30/2016,81,70,59,56,54,52,78,60,42,...,10.0,10.0,18,6,23.0,0,2,NaN,315,95113
1829,8/31/2016,78,69,60,57,55,52,84,64,43,...,10.0,10.0,20,9,24.0,0,1,NaN,316,95113

In [33]:
df =  pd.read_csv("C://Users//amitn//Desktop//work//Machine Learning//csv//weather.csv" , nrows=100)
df
#limiting no of row read

,PDT,Max TemperatureF,Mean TemperatureF,Min TemperatureF,Max Dew PointF,MeanDew PointF,Min DewpointF,Max Humidity,Mean Humidity,Min Humidity,...,Mean VisibilityMiles,Min VisibilityMiles,Max Wind SpeedMPH,Mean Wind SpeedMPH,Max Gust SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees,ZIP
0,9/1/2015,75,67,58,58,56,54,84,67,49,...,10,6,22,9,26.0,0,2,NaN,245,94107
1,9/2/2015,73,68,62,59,56,54,78,68,57,...,10,10,23,12,26.0,0,5,NaN,249,94107
2,9/3/2015,70,65,60,57,54,50,84,69,53,...,10,10,18,12,25.0,0,2,NaN,250,94107
3,9/4/2015,72,64,55,52,50,48,77,61,44,...,10,7,20,10,24.0,0,2,NaN,233,94107
4,9/5/2015,79,65,51,53,48,44,89,60,30,...,10,10,21,7,24.0,0,2,NaN,289,94107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,12/5/2015,54,47,40,46,43,39,93,85,77,...,10,10,9,3,10.0,0,6,Fog,132,94107
96,12/6/2015,63,54,44,56,49,38,93,72,51,...,8,0,14,5,17.0,T,7,Fog-Rain,101,94107
97,12/7/2015,59,54,49,56,53,48,100,93,86,...,5,0,10,3,11.0,0,7,Fog,230,94107
98,12/8/2015,61,54,46,54,51,45,96,88,80,...,7,0,7,3,8.0,0,7,Fog,148,94107
99,12/9/2015,66,60,53,55,54,51,93,80,67,...,9,6,14,5,16.0,T,7,NaN,148,94107

In [30]:
df.rename(columns={'PDT' : 'Date'})
#column name change

        date  temperature  windspeed  event
0  1/12/2017           23          6  snow
1  23/6/2018           32          8   rain
2  15/9/2017           36          5  sunny

,PDT,Max TemperatureF,Mean TemperatureF,Min TemperatureF,Max Dew PointF,MeanDew PointF,Min DewpointF,Max Humidity,Mean Humidity,Min Humidity,...,Mean VisibilityMiles,Min VisibilityMiles,Max Wind SpeedMPH,Mean Wind SpeedMPH,Max Gust SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees,ZIP
0,Date,75,67,58,58,56,54,84,67,49,...,10,6,22,9,26.0,0,2,NaN,245,94107
1,Date,73,68,62,59,56,54,78,68,57,...,10,10,23,12,26.0,0,5,NaN,249,94107
2,Date,70,65,60,57,54,50,84,69,53,...,10,10,18,12,25.0,0,2,NaN,250,94107
3,Date,72,64,55,52,50,48,77,61,44,...,10,7,20,10,24.0,0,2,NaN,233,94107
4,Date,79,65,51,53,48,44,89,60,30,...,10,10,21,7,24.0,0,2,NaN,289,94107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Date,54,47,40,46,43,39,93,85,77,...,10,10,9,3,10.0,0,6,Fog,132,94107
96,Date,63,54,44,56,49,38,93,72,51,...,8,0,14,5,17.0,T,7,Fog-Rain,101,94107
97,Date,59,54,49,56,53,48,100,93,86,...,5,0,10,3,11.0,0,7,Fog,230,94107
98,Date,61,54,46,54,51,45,96,88,80,...,7,0,7,3,8.0,0,7,Fog,148,94107
99,Date,66,60,53,55,54,51,93,80,67,...,9,6,14,5,16.0,T,7,NaN,148,94107

# Dictionary to dataFrame

In [29]:
weather_data  = {
    'date' :['1/12/2017','23/6/2018', '15/9/2017'],
    'temperature' :[23,32,36],
    'windspeed' :[6,8,5],
    'event' :['snow ', 'rain','sunny']
}
df  = pd.DataFrame(weather_data)
df

        date  temperature  windspeed  event
0  1/12/2017           23          6  snow
1  23/6/2018           32          8   rain
2  15/9/2017           36          5  sunny

In [31]:
df

        date  temperature  windspeed  event
0  1/12/2017           23          6  snow
1  23/6/2018           32          8   rain
2  15/9/2017           36          5  sunny

,PDT,Max TemperatureF,Mean TemperatureF,Min TemperatureF,Max Dew PointF,MeanDew PointF,Min DewpointF,Max Humidity,Mean Humidity,Min Humidity,...,Mean VisibilityMiles,Min VisibilityMiles,Max Wind SpeedMPH,Mean Wind SpeedMPH,Max Gust SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees,ZIP
0,9/1/2015,75,67,58,58,56,54,84,67,49,...,10,6,22,9,26.0,0,2,NaN,245,94107
1,9/2/2015,73,68,62,59,56,54,78,68,57,...,10,10,23,12,26.0,0,5,NaN,249,94107
2,9/3/2015,70,65,60,57,54,50,84,69,53,...,10,10,18,12,25.0,0,2,NaN,250,94107
3,9/4/2015,72,64,55,52,50,48,77,61,44,...,10,7,20,10,24.0,0,2,NaN,233,94107
4,9/5/2015,79,65,51,53,48,44,89,60,30,...,10,10,21,7,24.0,0,2,NaN,289,94107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,12/5/2015,54,47,40,46,43,39,93,85,77,...,10,10,9,3,10.0,0,6,Fog,132,94107
96,12/6/2015,63,54,44,56,49,38,93,72,51,...,8,0,14,5,17.0,T,7,Fog-Rain,101,94107
97,12/7/2015,59,54,49,56,53,48,100,93,86,...,5,0,10,3,11.0,0,7,Fog,230,94107
98,12/8/2015,61,54,46,54,51,45,96,88,80,...,7,0,7,3,8.0,0,7,Fog,148,94107
99,12/9/2015,66,60,53,55,54,51,93,80,67,...,9,6,14,5,16.0,T,7,NaN,148,94107

In [35]:
df.columns

Index(['PDT', 'Max TemperatureF', 'Mean TemperatureF', 'Min TemperatureF',
       'Max Dew PointF', 'MeanDew PointF', 'Min DewpointF', 'Max Humidity',
       ' Mean Humidity', ' Min Humidity', ' Max Sea Level PressureIn',
       ' Mean Sea Level PressureIn', ' Min Sea Level PressureIn',
       ' Max VisibilityMiles', ' Mean VisibilityMiles', ' Min VisibilityMiles',
       ' Max Wind SpeedMPH', ' Mean Wind SpeedMPH', ' Max Gust SpeedMPH',
       'PrecipitationIn', ' CloudCover', ' Events', ' WindDirDegrees', 'ZIP'],
      dtype='object')

In [39]:
new_df = df[['PDT', 'Max TemperatureF', 'Min TemperatureF',
        'Max Humidity',' Max Wind SpeedMPH', ' CloudCover', ' Events',  'ZIP']]

In [40]:
new_df

,PDT,Max TemperatureF,Min TemperatureF,Max Humidity,Max Wind SpeedMPH,CloudCover,Events,ZIP
0,9/1/2015,75,58,84,22,2,NaN,94107
1,9/2/2015,73,62,78,23,5,NaN,94107
2,9/3/2015,70,60,84,18,2,NaN,94107
3,9/4/2015,72,55,77,20,2,NaN,94107
4,9/5/2015,79,51,89,21,2,NaN,94107
...,...,...,...,...,...,...,...,...
95,12/5/2015,54,40,93,9,6,Fog,94107
96,12/6/2015,63,44,93,14,7,Fog-Rain,94107
97,12/7/2015,59,49,100,10,7,Fog,94107
98,12/8/2015,61,46,96,7,7,Fog,94107
99,12/9/2015,66,53,93,14,7,NaN,94107

In [41]:
new_df.columns

Index(['PDT', 'Max TemperatureF', 'Min TemperatureF', 'Max Humidity',
       ' Max Wind SpeedMPH', ' CloudCover', ' Events', 'ZIP'],
      dtype='object')

In [59]:
new_df = new_df.rename(columns={'PDT':'date', 'Max TemperatureF':'maxtemp', 'Min TemperatureF':'mintemp', 'Max Humidity':'humidity',
       ' Max Wind SpeedMPH':'windspeed', ' CloudCover':'coudcover', ' Events':'events', 'ZIP':'pin'})

In [74]:
new_df.to_csv("C://Users//amitn//Desktop//work//Machine Learning//csv//new.csv")
#Make Csv File

In [75]:
new_df.to_csv("C://Users//amitn//Desktop//work//Machine Learning//csv//new.csv" , header=False)
#Make Csv File
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html

In [76]:
new_df.to_csv("C://Users//amitn//Desktop//work//Machine Learning//csv//new.csv" , header=True , index = False)
#Make Csv File